<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    {% block head %} {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My computer</title>
</head>
<body>
    <ul>
      <li>
          <a href="base">
            <i class="Dashboard"></i>
            <span class="Dashboard">Dashboard</span>
          </a>
        </li>
    </ul>
    <ul>
          <ul class="Dashboard">
            <li><a class="link_name" href="specifications">Specifications My Pc</a></li>
            <li><a class="link_name" href="#">    </a></li>
            <li><a class="link_name" href="#">    </a></li>
            <li><a class="link_name" href="#">    </a></li>
          </ul>
    </ul>
    {% block body %} {% endblock %}
</body>






















</html>